body {
	background-image: url(../images/bg.jpg);
	background-position: center top;
	background-size: cover;
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;*/
	background-repeat: no-repeat;
	color: #f2f2f2; /*offwhite*/
	height: 100vh;
}

h1 {
	font-size: 55px;
	background-color: rgba(51, 51, 51, 0.8); /*alpha = transparency or opacity*/
	text-transform: uppercase;
	margin-bottom: 0;
	letter-spacing: 4px;
	color: #eee8aa; 
	font-family: 'Exo 2', sans-serif;
	width: 400px;
	margin: 0 auto;
}

h2 {
	font-size: 24px;
	background-color: rgba(51, 51, 51, 0.7);
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #b0e0e6;
	font-family: 'Exo 2', sans-serif;
}

#me {
	height: 225px;
	width: 225px;
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: grey;
	margin-top: 50px;

}

.bio {
	width: 100%;
	font-size: 20px;
	line-height: 1.5;
	background-color: rgba(51, 51, 51, 0.7); /*alpha = transparency or opacity*/
	/*background-color: #333;*/
	/*opacity: 0.3;*/
	font-family: 'Rajdhani', sans-serif;
}

.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}